@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
<h1>Menu</h1>
<ul>
    <li><a href="#">Organization</a></li>
    <li><a href="#">Services</a></li>
    <li>
        <a href="#">Geography</a>
        <ul>
            <li><a href="/GovernmentOfficeRegion">List Government Office Region</a></li>
        </ul>
    </li>
</ul>
</body>
</html>